section {
  justify-content: center;
  padding-top: 5rem;
}

@media (max-width: 639px) {
  .masonry-container {
    width: 280px;
  }
}

@media (min-width: 640px) {
  .masonry-container {
    width: 600px;
  }
}

@media (min-width: 920px) {
  .masonry-container {
    width: 880px;
  }
}

@media (min-width: 1280px) {
  .masonry-container {
    width: 1180px;
  }
}

.album-spinner {
  position: fixed;
  top: 40%;
}

.song-modal {
  position: absolute;
  z-index: 30;
  top: 70px;
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  border: 1px solid #cccccc;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}

.masonry-item {
  width: 280px;
  margin-bottom: 3rem;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px var(--color-main-gray2);
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }

  .album-header {
    padding: 5px;
    justify-content: space-between;

    .name {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 5px 8px;
    }

    .created {
      font-size: 0.8rem;
      flex-shrink: 0;
    }
  }

  .album-body {
    padding: 5px 13px;
    font-size: 0.8rem;
  }

  .album-footer {
    font-size: 0.8rem;
    padding: 5px 13px;
    color: var(--color-main-gray2);   
  }

  .thumbnail {
    flex-direction: column;
  }

  img {
    max-width: 100%;
    min-width: 100%;
  }
}