@import 'config.css';

.player {
  flex-direction: column;
  width: 800px;
  height: 700px;

  & .player-header {
    min-height: 50px;
    position: relative;
    align-items: center;

    & .player-header-playerBtn {
        font-size: 1.1rem;
        font-weight: bold;
        width: 150px;
        justify-content: center;
    }

    & .player-header-createBtn {
        font-size: 1.1rem;
        font-weight: bold;
        width: 150px;
        justify-content: center;
    }

    & .player-header-underbar {
      width: 150px;
      position: absolute;
      height: 2px;
      bottom: 0;
      background-color: var(--color-main-theme);
    }

    & .player-header-close {
        font-size: 2rem;
        margin: 0 10px 0 auto;
        cursor: pointer;
        color: var(--color-main-gray1);
      }
  }

  & .player-bar {
    height: 2px;
    width: 100%;
    background-color: var(--color-main-gray1);
  }

  & .player-body-container {
    flex-direction: row;

    & .player-body-left {
      flex-direction: column;

      & .player-list {
        flex-direction: column;
        overflow: auto;
        width: 400px;

        & .player-list-component {
          min-height: 70px;
          align-items: center;

          & .player-list-id {
            padding: 8px;
            font-size: 0.9rem;
            color: var(--color-main-gray2);
          }

          & .player-list-thumbnail {

            & img {
              width: 80px;
              height: 60px;
            }
          }

          & .player-list-title {
            width: 100%;
            padding: 10px;
            align-items: center;
          }
        }

        & .nowSelected {
          background-color: var(--color-main-gray1);
        }

        & .hover {
          background-color: var(--color-main-gray1);
          cursor: pointer;
        }
      }
    }

    & .player-body-right {

        & .player-song {
          flex-direction: column;
          overflow: auto;

          & .player-song-component {
            min-height: 70px;
            align-items: center;
            padding: 0px 10px;

            & .player-song-thumbnail {

              & img {
                width: 80px;
                height: 60px;
              }
            }

            & .player-song-title {
              width: 100%;
              padding: 10px;
              align-items: center;
            }
          }

          & .nowPlaying {
            background-color: var(--color-main-gray1);
          }

          & .hover {
            background-color: var(--color-main-gray1);
            cursor: pointer;
          }
        }
    }
  }
}

.player-modal {
  position: absolute;
  z-index: 30;
  top: 70px;
  width: 800px;
  height: 700px;
  overflow: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}