@import '../../config.scss';

.masonry-item {
  width: 280px;
  margin-bottom: 3rem;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 3px 5px var(--color-main-gray2);
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }

  .list-header {
    padding: 5px;
    justify-content: space-between;

    .name {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 5px 8px;
    }

    .created {
      font-size: 0.8rem;
      flex-shrink: 0;
    }
  }

  .list-body {
    padding: 5px 13px;
    font-size: 0.8rem;
  }

  .list-footer {
    font-size: 0.8rem;
    padding: 5px 13px;
    color: var(--color-main-gray2);   
  }

  .thumbnail {
    flex-direction: column;
  }

  img {
    max-width: 100%;
    min-width: 100%;
  }
}