@import '../../config.scss';

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 220px;
  background-color: var(--color-black);
  border-radius: 3px;
  z-index: 30;
  flex-direction: column;
  transition: all 0.5s ease-out;

  .video-header {
    color: var(--color-white);
    height: 40px;
    align-items: center;

    .layout-controller {
      font-size: 2rem;
      margin: 10px;
    }

    .volume-controller {
      width: 90px;
      align-items: center;      
      margin-left: auto;
      font-size: 1.2rem;

      .slider {
        margin: 10px;
      }
    }
  }

  .youtube {
    margin-top: auto;
  }
}

.hide {
  bottom: -180px;  
}