@import '../../config.scss';

.auth {
  flex-direction: column;
  width: 400px;
  min-height: 300px;

  .auth-header {
    height: 50px;
    flex-direction: row;
    position: relative;

    .auth-header-leftBtn {
      width: 50%;
      height: 50px;
      position: absolute;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .auth-header-rightBtn {
      width: 50%;
      height: 50px;
      position: absolute;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;    
    }

    .active {
      color: var(--color-main-theme);
    }

    .auth-header-underbar {
      width: 200px;
      position: absolute;
      height: 3px;
      bottom: -1px;
      background-color: var(--color-main-theme);
      transition: all 0.3s ease-out;
      left: 0;
    }

    .signIn {
      left: 0;
    }

    .join {
      left: 200px;
    }
  }
  .auth-bar {
    height: 2px;
    width: 100%;
    background-color: var(--color-main-gray1);
  }

  .auth-body {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    
    .sign-in-form {
      width: 100%;
      flex-direction: column;

      &* {
        margin: 5px 0;
        border-radius: 4px;
      }

      input {
        height: 30px;
        padding-left: 5px;
        border: 1px solid var(--color-main-gray1);

        &::-webkit-input-placeholder {
          color: var(--color-main-gray1);
        }

        &::-ms-input-placeholder {
          color: var(--color-main-gray1);
        }

        &::-moz-placeholder {
          color: var(--color-main-gray1);
        }
      }

      button {
        height: 40px;
        border: 0;
        justify-content: center;
        color: var(--color-white);
      }

      .email-login-btn {
        background-color: var(--color-main-gray2);
        cursor: pointer;
      }

      .facebook-login-btn {
        background-color: var(--color-facebook);
        cursor: pointer;        
      }
    }

    .join-form {
      width: 100%;      
      flex-direction: column;

      > * {
        margin: 5px 0;
        border-radius: 4px;
      }

      input {
        height: 30px;
        padding-left: 5px;
        border: 1px solid var(--color-main-gray1);

        &::-webkit-input-placeholder {
          color: var(--color-main-gray1);
        }

        &:-ms-input-placeholder {
          color: var(--color-main-gray1);
        }

        &::-moz-placeholder {
          color: var(--color-main-gray1);
        }
      }

      button {
        height: 40px;
        border: 0;
        justify-content: center;
        color: var(--color-white);
      }

      .join-submit-btn {
        background-color: var(--color-main-gray2);
        cursor: pointer;
      }

      .facebook-join-btn {
        background-color: var(--color-facebook);
        cursor: pointer;        
      }
    }
  }
}

.auth-modal {
  position: absolute;
  z-index: 30;
  top: 150px;
  width: 400px;
  min-height: 300px;
  border: 1px solid #cccccc;
  background: #ffffff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}