@import '../../config.scss';

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--color-background);
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1.2rem;
  transition: transform .35s ease-in-out;

  i {
    font-size: 1.6rem;
    color: var(--color-main-gray3);    
  }

  #header-search {
    width: 24rem;
    height: 2.5rem;
    align-items: center;

    input {
      flex: 1;
      height: 100%;
      padding-left: 3rem;
      background-color: var(--color-main-gray1);
      border: 0;
    }

    input:focus {
      outline: none;
    }

    i {
      position: absolute;
      padding-left: .5rem;
    }
  }

  #header-button {
    i {
      margin: 0 1rem;
    }
  }
}