section {
  justify-content: center;
  padding-top: 5rem;
}

@media (max-width: 639px) {
  .masonry-container {
    width: 280px;
  }
}

@media (min-width: 640px) {
  .masonry-container {
    width: 600px;
  }
}

@media (min-width: 920px) {
  .masonry-container {
    width: 880px;
  }
}

@media (min-width: 1280px) {
  .masonry-container {
    width: 1180px;
  }
}

.album-spinner {
  position: fixed;
  top: 40%;
}

.song-modal {
  position: absolute;
  z-index: 30;
  top: 70px;
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  border: 1px solid #cccccc;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}