$fa-font-path: '~/fonts';
@import '~font-awesome/scss/font-awesome.scss';

:root {
  --color-background: #e7e7e7;
  --color-main-gray1: #d7d7d7;
  --color-main-gray2: #949494;
  --color-main-gray3: #5e5e5e;
  --color-main-theme: #ff9f00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-facebook: #3b579d;
  --color-google: #dc4a38;
  --font-root-size: 14px;
}