@import "config.css";

html {
  font-size: var(--font-root-size);
}

body {
  margin: 0;
  background-color: var(--color-background);
}

#container {
  flex-direction: column;
  flex: 1;
}

body * {
  box-sizing: border-box;
  display: flex;
}